# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.env/
.venv/

# OS files
.DS_Store
Thumbs.db

.env

# ML models and cache files
*.pt
*.pth
*.weights
*.onnx
*.cache
__pycache__/
*.log
*.tmp
data/train/
data/val/

